<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
	<meta charset="ISO-8859-1">
	<title>Sign Page.</title>
</head>

<body>
	<section>
		<div class="container ">
			<div class="row">
				<div class="col-md-6 offset-md-4">

					<div class="my-card mt-4">
						
						<div th:if="${session.message}" th:classappend="${session.message.type}"
						 class="alert" >
  								<p th:text="${session.message.content}"></p>
  								<th:block th:remove="all"></th:block>
						</div>

						<div class="container text-center">
							<img src="" width="80px" th:src="@{/img/signup.png}" alt="" />
						</div>
						
						<h1 class="text-center">Register Here</h1>

<!--form start-->							
						<form novalidate th:action="@{/do-register}" method="post" th:object="${user}">
							
							
							<!--name field-->
							<div class="form-group">
								<label for="exampleInputName">Your name</label>
								<input type="text"
								 name="name"
								 class="form-control "												 
								 id="exampleInputName"
								 th:value="${user.name}"
								 th:classappend="${#fields.hasErrors('name')? 'is-invalid' : ''}"
								 placeholder="Enter name">	
								 
								 <div th:each="e : ${#fields.errors('name')}"
									  th:text="${e}"
						 			 class="invalid-feedback">
							
								</div>													 
							</div>
							
								<!--email field-->
							<div class="form-group">
								<label for="exampleInputEmail1">Email address</label>
								<input type="email"
								 name="email"
								 class="form-control"
								 id="exampleInputEmail1"
								 aria-describedby="emailHelp"
								 th:value="${user.email}"
								 th:classappend="${#fields.hasErrors('email')? 'is-invalid' : ''}"
								 placeholder="Enter email">
								 
								 <div th:each="e : ${#fields.errors('email')}"
									  th:text="${e}"
								   class="invalid-feedback">
							
								</div>
								
							</div>
							
								<!--password field-->
							<div class="form-group">
								<label for="password_field">Enter Password</label>
								<input type="text"
								 class="form-control"
								 id="password_field"
								 aria-describedby="emailHelp"
								 name="password"
								 placeholder="Enter password"
								 
								 >																																																					
							</div>
							
							
							<!--about field-->
							<div class="form-group">
								<textarea name="about" id=""  rows="5" placeholder="Enter something yourself"
								 class="form-control" th:text="${user.about}"
								 >
								 </textarea>	
								 
								 																																																		
							</div>
							
							<!--check box-->
							<div class="form-group form-check" >
								<input type="checkbox"
								name="agreement"
								class="form-check-input"
								id="agreement" />		
								 <div class="container">
									 <label for="agreement">Accept terms and conditions.</label>
								 </div>
								 																																																	
							</div>
							
							<div class="container text-center">	
								<button type="submit" class="btn bg-primary text-white">Submit</button>
								<button type="reset" class="btn bg-primary text-white">Reset</button>
							</div>
							
		
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>